<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andressaribeiro.myfirstapp">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".app.CadastroAlunoActivity" />
        <activity android:name=".app.TelaInicialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.ListaDisciplinasActivity" />
        <activity android:name=".app.CadastroDisciplinaActivity" />
        <activity android:name=".app.BoletimBimestralActivity" />
        <activity android:name=".app.BoletimSemestralActivity" />
        <activity android:name=".app.ListaRendimentoActivity" />
        <activity android:name=".app.ListaAgendaActivity" />
        <activity android:name=".app.CadastroAgendaActivity"></activity>
    </application>

</manifest>